<mat-sidenav-container class="example-container">
    <mat-sidenav class="example-sidenav-container" mode="side" opened>
        <mat-nav-list>
            <a mat-list-item routerLink="/formcontrol/autocomplete">Autocomplete</a>
            <a mat-list-item routerLink="/formcontrol/input">Input</a>
            <a mat-list-item routerLink="/buttons/button">Button</a>
            <a mat-list-item routerLink="/buttons/button-toggle">Button toggle</a>
            <a mat-list-item routerLink="/buttons/icon">Icon</a>
            <a mat-list-item routerLink="/popups/dialog">Dialog</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>