<mat-sidenav-container class="example-container">
    <mat-sidenav class="example-sidenav-container" mode="side" opened>
        <mat-nav-list>
            <a mat-list-item routerLink="/formcontrol/autocomplete">Autocomplete</a>
            <a mat-list-item routerLink="/formcontrol/input">Input</a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/layout/card">Card</a>
            <a mat-list-item routerLink="/layout/divider">Divider</a>
            <a mat-list-item routerLink="/layout/list">List</a>
            <a mat-list-item routerLink="/layout/tabs">Tabs</a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/buttons/button">Button</a>
            <a mat-list-item routerLink="/buttons/button-toggle">Button toggle</a>
            <a mat-list-item routerLink="/buttons/badge">Badge</a>
            <a mat-list-item routerLink="/buttons/chips">Chips</a>
            <a mat-list-item routerLink="/buttons/icon">Icon</a>
            <a mat-list-item routerLink="/buttons/progress-spinner">Progress spinner</a>
            <a mat-list-item routerLink="/buttons/progress-bar">Progress bar</a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/popups/dialog">Dialog</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>