<h3>简单的卡片</h3>
<mat-card>mat-card</mat-card>
<h3>卡片分区</h3>
<mat-card>
    <mat-card-title>卡片标题</mat-card-title>
    <mat-card-subtitle>卡片副标题</mat-card-subtitle>
    <mat-card-content>卡片内容 卡片内容 卡片内容 卡片内容 卡片内容 卡片内容 卡片内容 卡片内容 卡片内容</mat-card-content>
    <img mat-card-image src="https://www.angular.cn/assets/images/logos/angular/angular.svg" style="width:200px">
    <mat-card-actions>
        <button mat-raised-button>底部按钮</button>
    </mat-card-actions>
    <mat-card-footer>卡片脚部</mat-card-footer>
</mat-card>