<h3>简单的分割线</h3>
<mat-list>
    <mat-list-item>冰箱</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>空调</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>洗衣机</mat-list-item>
</mat-list>
<h3>内嵌分割线</h3>
<mat-list>
    <mat-list-item>冰箱</mat-list-item>
    <mat-divider [inset]="true"></mat-divider>
    <mat-list-item>空调</mat-list-item>
    <mat-divider [inset]="true"></mat-divider>
    <mat-list-item>洗衣机</mat-list-item>
</mat-list>
<h3>垂直分割线</h3>
asdf
<mat-divider [vertical]="true"></mat-divider>
asdf
<mat-divider [vertical]="true"></mat-divider>
asdf