<h3>简单的提示</h3>
<button mat-raised-button matTooltip="这就是按钮的提示">浮动提示</button>
<h3>提示的位置</h3>
<button mat-raised-button matTooltip="这就是按钮的提示" matTooltipPosition="above">上方</button>
<button mat-raised-button matTooltip="这就是按钮的提示" matTooltipPosition="below">下方</button>
<button mat-raised-button matTooltip="这就是按钮的提示" matTooltipPosition="left">左方</button>
<button mat-raised-button matTooltip="这就是按钮的提示" matTooltipPosition="right">右方</button>
<button mat-raised-button matTooltip="这就是按钮的提示" matTooltipPosition="before">前方</button>
<button mat-raised-button matTooltip="这就是按钮的提示" matTooltipPosition="after">后方</button>
<h3>延迟500ms显示</h3>
<button mat-raised-button matTooltip="这就是按钮的提示" matTooltipShowDelay="500">浮动提示</button>
<h3>延迟500ms隐藏</h3>
<button mat-raised-button matTooltip="这就是按钮的提示" matTooltipHideDelay="500">浮动提示</button>