<h3>普通input</h3>
<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="点这里可以输入">
    </mat-form-field>
</form>
<h3>普通textarea</h3>
<form class="example-form">
    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="点这里可以输入，右下角可以拖动"></textarea>
    </mat-form-field>
</form>
<h3>input支持的type类型</h3>
<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput type="color" placeholder="这是color">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput type="date" placeholder="这是date">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput type="datetime-local" placeholder="这是datetime-local">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput type="email" placeholder="这是email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput type="month" placeholder="这是month">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput type="number" placeholder="这是number">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="这是password">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput type="search" placeholder="这是search">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput type="tel" placeholder="这是tel">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="这是text">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput type="time" placeholder="这是time">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput type="url" placeholder="这是url">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput type="week" placeholder="这是week">
    </mat-form-field>
</form>