<h3>简单的单选框</h3>
<mat-radio-group>
    <mat-radio-button value="1">冰箱</mat-radio-button>
    <mat-radio-button value="2">空调</mat-radio-button>
    <mat-radio-button value="3">洗衣机</mat-radio-button>
</mat-radio-group>
<h3>可修改标签位置</h3>
<mat-radio-group>
    <mat-radio-button labelPosition="before" value="1">冰箱</mat-radio-button>
    <mat-radio-button labelPosition="before" value="2">空调</mat-radio-button>
    <mat-radio-button labelPosition="before" value="3">洗衣机</mat-radio-button>
</mat-radio-group>